*{
    font-family: Arial, Helvetica, sans-serif;
}

section{
    width: min(500px, 90%);
    margin: 0 auto;
    padding: 1rem;
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0px 5px 5px #0000005d;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input{
    padding: 0.2rem;
    margin: 0 1.2rem;
}

.fila-input{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.fila-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.info{
    width: 50%;
    
    padding: 0 0.5rem;
    
    border-radius: 3px;
}